<div>
  <style media="screen">
    #divPadding
    {
      padding: 50px;
    }
  </style>
</div>

<div class="container well">
  <div class="row">
    <div class="col-sm-6">
        <div class="col-sm-6">
          <strong>Pick-up Location:</strong>&nbsp;&nbsp;&nbsp;
          <p>p-location</p>
        </div>
        <div class="col-sm-6">
          <strong>Drop Locaion:</strong>&nbsp;&nbsp;&nbsp;
          <p>d-location</p>
        </div>

        <div class="col-sm-6">
          <strong>Date:</strong>&nbsp;&nbsp;&nbsp;
          <p>date</p>
        </div>
        <div class="col-sm-6">
          <strong>Time:</strong>&nbsp;&nbsp;&nbsp;
          <p>time</p>
        </div>
    </div>
  </div>
  <center>
    <button type="button" class="btn btn-danger" onclick="window.print()">Print Details</button>
  </center>
</div>
